## Primer proyecto
Para crear tu primero proyecto vamos a crear una carpeta con el nombre "funciones"  
Dentro de esa carpeta crea un archivo que se llame ajuste_direccion.py  
En ese archvio pondremos la funcion del paso anterior.

In [2]:
#Podemos importar la funcion usando:
#from nombre_carpeta.nombre_archivo import nombre_funcion
#O tambien puedes importar todas las funciones haciendo import funciones.mi_primera_funcion
import funciones.ajuste_direccion as ajuste_direccion

In [3]:
direcciones = ['Dr. Genaro Benavieses 6174',
'Cerezos 33',
'La Caba√±a 98',
'Pedro Canisio 1103',
'Malmo 478',
'Luis Valenzuela Aris 3220',
'Los Militares 5277',
'suarez mujica 411',
'Alfredo Barros Errazuriz 1900',
'Augusto Legu√≠a sur 98',
'Suecia 2624',
'Martin Alonzo Pinzon 7420',
'Sebastian Elcano 1055',
'Sebasti√°n Elcano 1055',
'eche√±ique 5100']
ajuste_direccion.ajuste_direccion(direcciones)

([' Dr. Genaro Benavieses',
  ' Cerezos',
  ' La Caba√±a',
  ' Pedro Canisio',
  ' Malmo',
  ' Luis Valenzuela Aris',
  ' Los Militares',
  ' suarez mujica',
  ' Alfredo Barros Errazuriz',
  ' Augusto Legu√≠a sur',
  ' Suecia',
  ' Martin Alonzo Pinzon',
  ' Sebastian Elcano',
  ' Sebasti√°n Elcano',
  ' eche√±ique'],
 [6174,
  33,
  98,
  1103,
  478,
  3220,
  5277,
  411,
  1900,
  98,
  2624,
  7420,
  1055,
  1055,
  5100])

Utiliznado esta tecnica podr√°s realizar modificaciones en tu poryecto sabiendo exactamente que es lo que est√° sucediendo. 
Idealmente deber√≠as siempre seguir una estructura, tu puedes definir un metodo que funcione para ti, pero dentro del proyecto debes ser consistente con la estructura.  
Suguiero usar algo como esto:  
  
üìÅ Mi proyecto  
|-> üìÅ funciones  
&nbsp;&nbsp;&nbsp;&nbsp; |-> üìÑ funcion1.py  
&nbsp;&nbsp;&nbsp;&nbsp; |-> üìÑ funcion2.py  
&nbsp;&nbsp;&nbsp;&nbsp; |-> üìÑ funcion3.py  
|-> üìÅ data  
&nbsp;&nbsp;&nbsp;&nbsp; |-> üíº archivo1.csv  
&nbsp;&nbsp;&nbsp;&nbsp; |-> üíº archivo2.xlsx  
&nbsp;&nbsp;&nbsp;&nbsp; |-> üíº archivo3.json  
|-> üìÅ resultados  
&nbsp;&nbsp;&nbsp;&nbsp; |-> üìÅ 2021-05-03  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |-> üíº 001 Resultado.xlsx  
|-> üìÅ data  
|-> üìÑ mi_archivo_principal.py

As√≠ como nosotros hicimos nuestra funcion en un archivo hay personas que se dedican a crear _librerias_ para facilitarnos la vida.  
Las prinicipales librerias son:  
-pandas -> Manejo de datos  
-numpy -> Operaciones matriciales y matematicas  
-matplotlib -> Graficos  
  
Usemos nuestra primera libreria.  
Para eso debemos instalarma primero  
Apreta WINDOWS+R y escribe CMD  
Se abrir√° el terminal, para instalar debes escribir ```python -m pip install <nombre_libreria>``` y para instalar una version especifica debes usar ```python -m pip install <nombre_libreria>==numero_version```.  
Instala la version 1.1.5 de pandas (```python -m pip install pandas==1.1.5```)

In [1]:
#Para importar la libreria debes llamarla con import <nombre_libreria> as <apodo> (el apodo es opcional y puede tener cualquier valor)
import pandas as pd

Para leer un archivo:  
-Excel ```pd.read_excel("nombre_archivo.xlsx", engine = 'openpyxl', sheet_name = "Nombre Hoja")```  
-CSV ```pd.read_csv("nombre_archivo.csv")```

In [4]:
data = pd.read_excel("datos/ventas.xlsx", engine='openpyxl')

In [5]:
data

,Fecha,Nombre,Comuna,Dirrecion,Depto,Telefono,Categoria,Tipo,Cantidad,Tipo\nde venta,Total\na pagar,M√©todo\nde pago,Monto Pagado,saldo\nPendiente
0,2020-08-22,Daniela Arcos,Lo Barnechea,Robles 12729,401B,56977913112,Sal,Sal (1 Kg),1.0,Normal,4000.0,Transferencia,4000.0,0
1,2020-08-22,Sylvia Sepulveda,√ëu√±oa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,6000.0,Transferencia,6000.0,0
2,2020-08-22,Paul Wijnant,Las condes,Alonso de cordova 5045,1307,56991951136,Huevo,Tradicionales (Media bandeja),1.0,Normal,4000.0,Transferencia,4000.0,0
3,2020-08-22,Nani Mercandino,Las Condes,constancio vigil 416,NaN,56997992017,Huevo,Tradicionales (1 bandeja),1.0,Normal,6000.0,Transferencia,6000.0,0
4,2020-08-22,Fabiola Zapata,Providencia,Plaza Pedro De Valdivia 1743,12,56985294221,Huevo,Tradicionales (1 bandeja),2.0,Normal,12000.0,Transferencia,12000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,2021-05-08,Carlos San,Las condes,Rosa OHiggins 78,302,56987557978,Huevo,Tradicionales (1 bandeja),2.0,Normal,12000.0,MercadoPago,12000.0,0
2383,2021-05-08,Carlos San,Las condes,Rosa OHiggins 78,302,56987557978,Quinoa,Quinoa,2.0,Normal,8000.0,MercadoPago,8000.0,0
2384,2021-05-08,Carlos San,Las condes,Rosa OHiggins 78,302,56987557978,Almendra,Almendra 1kg,3.0,Normal,27000.0,MercadoPago,27000.0,0
2385,2021-05-08,Katherine Spuler,√ëu√±oa,Calle Espronceda 440,902,56956324836,Huevo,Tradicionales (1 bandeja),1.0,Normal,6000.0,NaN,NaN,6000
2386,2021-05-08,Camila Gudenschwager,Santiago Centro,Catedral 2407,NaN,56984001512,Huevo,Tradicionales (1 bandeja),1.0,Normal,6000.0,NaN,NaN,6000

In [8]:
data = pd.read_csv("datos/ventas.csv", sep = ";")

In [9]:
data

,Fecha,Nombre,Comuna,Dirrecion,Depto,Telefono,Categoria,Tipo,Cantidad,Tipo\nde venta,Total\na pagar,M√©todo\nde pago,Monto Pagado,saldo\nPendiente
0,22-08-2020,Daniela Arcos,Lo Barnechea,Robles 12729,401B,56977913112,Sal,Sal (1 Kg),1.0,Normal,$4.000,Transferencia,$4.000,$0
1,22-08-2020,Sylvia Sepulveda,√ëu√±oa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0
2,22-08-2020,Paul Wijnant,Las condes,Alonso de cordova 5045,1307,56991951136,Huevo,Tradicionales (Media bandeja),1.0,Normal,$4.000,Transferencia,$4.000,$0
3,22-08-2020,Nani Mercandino,Las Condes,constancio vigil 416,NaN,56997992017,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0
4,22-08-2020,Fabiola Zapata,Providencia,Plaza Pedro De Valdivia 1743,12,56985294221,Huevo,Tradicionales (1 bandeja),2.0,Normal,$12.000,Transferencia,$12.000,$0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,08-05-2021,Carlos San,Las condes,Rosa OHiggins 78,302,56987557978,Huevo,Tradicionales (1 bandeja),2.0,Normal,$12.000,MercadoPago,$12.000,$0
2383,08-05-2021,Carlos San,Las condes,Rosa OHiggins 78,302,56987557978,Quinoa,Quinoa,2.0,Normal,$8.000,MercadoPago,$8.000,$0
2384,08-05-2021,Carlos San,Las condes,Rosa OHiggins 78,302,56987557978,Almendra,Almendra 1kg,3.0,Normal,$27.000,MercadoPago,$27.000,$0
2385,08-05-2021,Katherine Spuler,√ëu√±oa,Calle Espronceda 440,902,56956324836,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,NaN,NaN,$6.000
2386,08-05-2021,Camila Gudenschwager,Santiago Centro,Catedral 2407,NaN,56984001512,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,NaN,NaN,$6.000

In [18]:
import time
start_time = time.time()
pd.read_excel("datos/ventas.xlsx", engine='openpyxl')
lectura_excel = time.time() - start_time
print(f"Leer el Excel toma {round(lectura_excel,5)} segundos")
start_time = time.time()
pd.read_csv("datos/ventas.csv", sep = ";")
lectura_csv = time.time() - start_time
print(f"Leer el CSV toma {round(lectura_csv,5)} segundos")
print(f"El csv es {round(lectura_excel/lectura_csv,2)} veces mas rapido que el Excel")

Leer el Excel toma 0.43446 segundos
Leer el CSV toma 0.01003 segundos
El csv es 43.33 veces mas rapido que el Excel

Leer archivos Excel puede ser muy lento, sobretodo si manejas grandes cantidades de datos.

### Seleccionar columnas
```data[["nombre_columna_1","nombre_columna_2","nombre_columna_3"]]```

In [20]:
data[["Fecha","Nombre","Comuna"]]

           Fecha                Nombre           Comuna
0     22-08-2020         Daniela Arcos     Lo Barnechea
1     22-08-2020      Sylvia Sepulveda            √ëu√±oa
2     22-08-2020          Paul Wijnant       Las condes
3     22-08-2020       Nani Mercandino       Las Condes
4     22-08-2020        Fabiola Zapata      Providencia
...          ...                   ...              ...
2382  08-05-2021            Carlos San       Las condes
2383  08-05-2021            Carlos San       Las condes
2384  08-05-2021            Carlos San       Las condes
2385  08-05-2021      Katherine Spuler            √ëu√±oa
2386  08-05-2021  Camila Gudenschwager  Santiago Centro

[2387 rows x 3 columns]

### Operaciones de grupos (o columnas)
- Suma ```data['nombre_columna'].sum()```
- Promedio ```data['nombre_columna'].mean()```
- Desviacion estandanr: ```data['nombre_columna'].std()```

In [24]:
data['Cantidad'].sum()

2999.0

In [26]:
data['Cantidad'].mean()

1.2569153394803017

In [27]:
data['Cantidad'].std()

0.9642478731963909

## Proxima clase
- Analisis de las ventas
- Graficos
- Conociendo al cliente