## Clase 3 - Analisis de clientes

- Importacion de acrhivos
- Manejo de la información
- Primero uso de algoritmo de clasificacion
- Primeras visualizaciones
- Primer algoritmo de machine learning (no supervisado)

In [1]:
import pandas as pd #Voy a usar pandas para manejar los archivos

En la carpeta data hay 2 csv -> _cliente.csv_ y _ventas.csv_. Ambos vienen de la base de datos de Huevos Hermanos.

In [2]:
#Leer .*CSV en pandas:
cliente = pd.read_csv('data/cliente.csv', sep = ';') 
#El sep = ';' es para decirle a pandas que nuestro
#archivo esta sepadarado por ; en vez de ,
ventas = pd.read_csv('data/ventas.csv', sep = ';')

In [3]:
#Esta es la base de cliente.
cliente.head(5)

,id,nombre,comuna,dirección,depto,teléfono,whatsapp,observaciones
0,1,Agustin 1605,Ñuñoa,Cerezos 33,1605,962386970,No,NaN
1,2,Agustin Depto Guaton,Ñuñoa,Cerezos 33,1605,962386970,No,NaN
2,3,Agustina Barcia,Las Condes,Martin Alonso Pinzon 6500,32,962874433,Si,NaN
3,4,Aida Salazar,NaN,NaN,NaN,999699049,Si,NaN
4,5,Alberto Veliz Perez,La Reina,Dr. Genaro Benavieses 6174,B,977088919,Si,NaN

In [4]:
#Estas son las columnas que tiene:
cliente.columns

Index(['id', 'nombre', 'comuna', 'dirección', 'depto', 'teléfono', 'whatsapp',
       'observaciones'],
      dtype='object')

In [5]:
#Estas son las ventas
ventas.head(5)

,fecha,nombre,comuna,direccion,depto,telefono,categoria,tipo,cantidad,tipo_venta,total_pagar,metodo_pago,monto_pagado,deuda,estado_entrega,estado_venta
0,22-08-2020,Daniela Arcos,Lo Barnechea,Robles 12729,401B,56977913112,Sal,Sal (1 Kg),1.0,Normal,$4.000,Transferencia,$4.000,$0,Entregado,Completado
1,22-08-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0,Entregado,Completado
2,22-08-2020,Paul Wijnant,Las condes,Alonso de cordova 5045,1307,56991951136,Huevo,Tradicionales (Media bandeja),1.0,Normal,$4.000,Transferencia,$4.000,$0,Entregado,Completado
3,22-08-2020,Nani Mercandino,Las Condes,constancio vigil 416,0,56997992017,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0,Entregado,Completado
4,22-08-2020,Fabiola Zapata,Providencia,Plaza Pedro De Valdivia 1743,12,56985294221,Huevo,Tradicionales (1 bandeja),2.0,Normal,$12.000,Transferencia,$12.000,$0,Entregado,Completado

In [6]:
#Y estas son las columnas
ventas.columns

Index(['fecha', 'nombre', 'comuna', 'direccion', 'depto', 'telefono',
       'categoria', 'tipo', 'cantidad', 'tipo_venta', 'total_pagar',
       'metodo_pago', 'monto_pagado', 'deuda', 'estado_entrega',
       'estado_venta'],
      dtype='object')

## Como consejo
Intenta poner siempre el nombre de las variables en minusculas y simples.

## Buscamos hacer la siguiente tabla.

| id_cliente | dias_desde_primera_compra | sal |  huevo |  miel |  cereza |  quinoa |  huevo2 |        almendra |  nueces | monto_pagado | normal | promocion | gratis | cantidad |
|------------|---------------------|-----|--------|-------|---------|---------|---------|-----------------|---------|--------------|--------|-----------|--------|----------|
| 1          | 301                 | 0   | 0      | 1     | 0       | 3       | 1       | 0               | 0       | 4500         | 2      | 2         | 0      | 5        |
| 2          | 141                 | 0   | 0      | 0     | 1       | 0       | 0       | 0               | 0       | 3500         | 1      | 0         | 0      | 2        |
| 3          | 5                   | 0   | 0      | 0     | 0       | 1       | 0       | 0               | 0       | 4000         | 1      | 0         | 0      | 1        |

## Vamos por parte dijo Camiroaga
Tenemos que obtener lo siguiente:  
-Dias desde primera compra  
-Cantidad de sal, huevo y cada uno de los productos  
-La suma de los montos totales  
-Tipo de ventas

In [7]:
#Dias desde el registro.
#Paso 0: Identificar la tabla a utilizar
ventas

,fecha,nombre,comuna,direccion,depto,telefono,categoria,tipo,cantidad,tipo_venta,total_pagar,metodo_pago,monto_pagado,deuda,estado_entrega,estado_venta
0,22-08-2020,Daniela Arcos,Lo Barnechea,Robles 12729,401B,56977913112,Sal,Sal (1 Kg),1.0,Normal,$4.000,Transferencia,$4.000,$0,Entregado,Completado
1,22-08-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0,Entregado,Completado
2,22-08-2020,Paul Wijnant,Las condes,Alonso de cordova 5045,1307,56991951136,Huevo,Tradicionales (Media bandeja),1.0,Normal,$4.000,Transferencia,$4.000,$0,Entregado,Completado
3,22-08-2020,Nani Mercandino,Las Condes,constancio vigil 416,0,56997992017,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0,Entregado,Completado
4,22-08-2020,Fabiola Zapata,Providencia,Plaza Pedro De Valdivia 1743,12,56985294221,Huevo,Tradicionales (1 bandeja),2.0,Normal,$12.000,Transferencia,$12.000,$0,Entregado,Completado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474,08-05-2021,Tia Mimi,Las Condes,latadia 6484,0,56993335142,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0,Entregado,Pendiente de pago
2475,08-05-2021,Javiera Contente,Vitacura,Las Nieves 3681,202,56956088505,Sal,Sal (1 Kg),2.0,NaN,$7.200,NaN,NaN,$7.200,Entregado,Completado
2476,08-05-2021,Javiera Contente,Vitacura,Las Nieves 3681,202,56956088505,sal,Molino de sal alto,1.0,NaN,$4.500,NaN,NaN,$4.500,Entregado,Pendiente de pago
2477,08-05-2021,Cristian Jaramillo meza,Ñuñoa,Av Grecia 5207,0,56995275558,NaN,NaN,NaN,NaN,$0,NaN,NaN,$0,Entregado,Pendiente de pago
2478,08-05-2021,Catalina Cura,Las Condes,Hamlet 4000,311,56990997101,Huevo,Tradicionales (1 bandeja),1.0,NaN,$5.400,NaN,NaN,$5.400,Entregado,Completado

In [8]:
#Queremos rescatar unicamente el id del cliente y la fecha de su priemra compra.
#Primero hay que agregar la id del cliente. Para eso lo vamos a hacer una union.
ventas.merge(cliente, on = ['nombre']) #Uno la tabla ventas y la combino (merge) con cliente, usando la columna nombre.

,fecha,nombre,comuna_x,direccion,depto_x,telefono,categoria,tipo,cantidad,tipo_venta,...,deuda,estado_entrega,estado_venta,id,comuna_y,dirección,depto_y,teléfono,whatsapp,observaciones
0,22-08-2020,Daniela Arcos,Lo Barnechea,Robles 12729,401B,56977913112,Sal,Sal (1 Kg),1.0,Normal,...,$0,Entregado,Completado,194,Lo Barnechea,Robles 12729,401B,977913112,Si,NaN
1,22-08-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,...,$0,Entregado,Completado,592,Ñuñoa,Sucre 1940,32B,985051456,Si,milagro Concerje dejar flayer
2,17-09-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,...,$0,Entregado,Completado,592,Ñuñoa,Sucre 1940,32B,985051456,Si,milagro Concerje dejar flayer
3,24-10-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,...,$0,Entregado,Completado,592,Ñuñoa,Sucre 1940,32B,985051456,Si,milagro Concerje dejar flayer
4,15-11-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,...,$0,Entregado,Completado,592,Ñuñoa,Sucre 1940,32B,985051456,Si,milagro Concerje dejar flayer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2350,08-05-2021,Maria Ines herrera,Las condes,av padre huertado norte 182,31,56992232671,Almendra,Almendra 1kg,1.0,Promocion,...,$8.100,Entregado,Pendiente de pago,413,Las condes,av padre huertado norte 182,31,992232671,Si,NaN
2351,08-05-2021,Debora Vega Lisperguer,Estacion central,Laguna sur 6260,1401,56994439790,Nueces,Nueces 1kg,1.0,Normal,...,$9.000,Entregado,Pendiente de pago,717,Estacion central,Laguna sur 6260,1401,994439790,si,NaN
2352,08-05-2021,Debora Vega Lisperguer,Estacion central,Laguna sur 6260,1401,56994439790,Quinoa,Quinoa,1.0,Normal,...,$4.000,Entregado,Pendiente de pago,717,Estacion central,Laguna sur 6260,1401,994439790,si,NaN
2353,08-05-2021,Daniela Maqueira,Ñuñoa,Profesor Rodolfo Lenz 605,61,56993546957,Huevo,Tradicionales (Caja),2.0,Normal,...,$60.000,Entregado,Pendiente de pago,738,Ñuñoa,Profesor Rodolfo Lenz 605,61,993546957,si,NaN
2354,08-05-2021,Cristian Jaramillo meza,Ñuñoa,Av Grecia 5207,0,56995275558,NaN,NaN,NaN,NaN,...,$0,Entregado,Pendiente de pago,718,Ñuñoa,Av Grecia 5207,NaN,995275558,NaN,NaN

In [9]:
#Pero como solo me interesa la columna ID de cliente puedo llamar a unicamente a esas columnas
ventas.merge(cliente[['id','nombre']], on = ['nombre'])
#Perfecto. Guardemosla.

,fecha,nombre,comuna,direccion,depto,telefono,categoria,tipo,cantidad,tipo_venta,total_pagar,metodo_pago,monto_pagado,deuda,estado_entrega,estado_venta,id
0,22-08-2020,Daniela Arcos,Lo Barnechea,Robles 12729,401B,56977913112,Sal,Sal (1 Kg),1.0,Normal,$4.000,Transferencia,$4.000,$0,Entregado,Completado,194
1,22-08-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0,Entregado,Completado,592
2,17-09-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0,Entregado,Completado,592
3,24-10-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0,Entregado,Completado,592
4,15-11-2020,Sylvia Sepulveda,Ñuñoa,Sucre 1940,32B,56985051456,Huevo,Tradicionales (1 bandeja),1.0,Normal,$6.000,Transferencia,$6.000,$0,Entregado,Completado,592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2350,08-05-2021,Maria Ines herrera,Las condes,av padre huertado norte 182,31,56992232671,Almendra,Almendra 1kg,1.0,Promocion,$8.100,NaN,NaN,$8.100,Entregado,Pendiente de pago,413
2351,08-05-2021,Debora Vega Lisperguer,Estacion central,Laguna sur 6260,1401,56994439790,Nueces,Nueces 1kg,1.0,Normal,$9.000,NaN,NaN,$9.000,Entregado,Pendiente de pago,717
2352,08-05-2021,Debora Vega Lisperguer,Estacion central,Laguna sur 6260,1401,56994439790,Quinoa,Quinoa,1.0,Normal,$4.000,NaN,NaN,$4.000,Entregado,Pendiente de pago,717
2353,08-05-2021,Daniela Maqueira,Ñuñoa,Profesor Rodolfo Lenz 605,61,56993546957,Huevo,Tradicionales (Caja),2.0,Normal,$60.000,NaN,NaN,$60.000,Entregado,Pendiente de pago,738
2354,08-05-2021,Cristian Jaramillo meza,Ñuñoa,Av Grecia 5207,0,56995275558,NaN,NaN,NaN,NaN,$0,NaN,NaN,$0,Entregado,Pendiente de pago,718

In [10]:
ventas_id_cliente = ventas.merge(cliente[['id','nombre']], on = ['nombre'])

In [11]:
#Para agrupar (equivalente a una tabla "dinamica") se usa groupby
ventas_id_cliente.groupby(['id']).agg({'fecha':'min'}).reset_index() #Agrupo en la tabla ventas la id y veo cual es la fecha minima. Nota: Fecha minima = Primera fecha.

      id       fecha
0      3  10-04-2021
1      4  21-11-2020
2      5  01-05-2021
3      8  06-03-2021
4     10  23-01-2021
..   ...         ...
394  813  06-02-2021
395  814  20-03-2021
396  815  06-03-2021
397  816  03-04-2021
398  817  17-04-2021

[399 rows x 2 columns]

In [12]:
primera_compra_cliente = ventas_id_cliente.groupby(['id']).agg({'fecha':'min'}).reset_index()

### Como lo calculo los dias desde el registro?!
Hoy - primera_compra_cliente

In [13]:
#Para sacar que día es hoy, vamos a usar el calendario.
from datetime import datetime as dt #Hola calendario!

In [14]:
dt.today() #Calendario, que dia es hoy
#El formato que entrega e: YYYY, M,D,H,M,S,MS

datetime.datetime(2021, 5, 9, 1, 19, 56, 847006)

In [15]:
#Pero podemos pedirlo como queramos.
print(dt.today().strftime("%d/%m/%Y"))
print(dt.today().strftime("%B %d, %Y"))
print(dt.today().strftime("%m/%d/%y"))
print(dt.today().strftime("%b-%d-%Y"))

09/05/2021
May 09, 2021
05/09/21
May-09-2021

In [16]:
#guardemos hoy
hoy = dt.today()

In [33]:
#Restar con la fecha de la primera compra
primera_compra_cliente['dias_desde_primera_compra'] = hoy - pd.to_datetime(primera_compra_cliente['fecha'], dayfirst =True)

In [34]:
primera_compra_cliente

      id       fecha dias_desde_primera_compra
0      3  10-04-2021   29 days 01:19:56.888005
1      4  21-11-2020  169 days 01:19:56.888005
2      5  01-05-2021    8 days 01:19:56.888005
3      8  06-03-2021   64 days 01:19:56.888005
4     10  23-01-2021  106 days 01:19:56.888005
..   ...         ...                       ...
394  813  06-02-2021   92 days 01:19:56.888005
395  814  20-03-2021   50 days 01:19:56.888005
396  815  06-03-2021   64 days 01:19:56.888005
397  816  03-04-2021   36 days 01:19:56.888005
398  817  17-04-2021   22 days 01:19:56.888005

[399 rows x 3 columns]

In [35]:
#Liiiisto
#Ahorar pasemos del  22 days a numero
primera_compra_cliente['dias_desde_primera_compra'].astype('timedelta64[D]') #Se transofrma usando astype y diciendole al calendario (timedelta64) que quermos el valor en numero (D: dias en numero, S: segundos, etc.)

0       29.0
1      169.0
2        8.0
3       64.0
4      106.0
       ...
394     92.0
395     50.0
396     64.0
397     36.0
398     22.0
Name: dias_desde_primera_compra, Length: 399, dtype: float64

In [36]:
#Se actauliza el valor de la tabla
primera_compra_cliente['dias_desde_primera_compra'] = (primera_compra_cliente['dias_desde_primera_compra'].astype('timedelta64[D]'))

In [37]:
primera_compra_cliente

      id       fecha  dias_desde_primera_compra
0      3  10-04-2021                       29.0
1      4  21-11-2020                      169.0
2      5  01-05-2021                        8.0
3      8  06-03-2021                       64.0
4     10  23-01-2021                      106.0
..   ...         ...                        ...
394  813  06-02-2021                       92.0
395  814  20-03-2021                       50.0
396  815  06-03-2021                       64.0
397  816  03-04-2021                       36.0
398  817  17-04-2021                       22.0

[399 rows x 3 columns]

## Primera columna LISTA!!!